.macbook-air-1-child,
.macbook-air-1-item {
  position: absolute;
  top: 50px;
  left: 58px;
  border-radius: var(--br-34xl);
  background-color: var(--color-gray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset, 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px);
  width: 666px;
  height: 733px;
}
.macbook-air-1-item {
  top: 600px;
  left: 297px;
  background-color: var(--color-lime);
  width: 188px;
  height: 50px;
  cursor: pointer;
}
.n-1-icon6 {
  position: absolute;
  top: 176px;
  left: 205px;
  border-radius: var(--br-330xl);
  width: 373px;
  height: 373px;
  object-fit: cover;
}
.DangNhap {
  position: absolute;
  top: 613px;
  left: 330px;
  text-decoration: none;
}
.macbook-air-1 {
  position: relative;
  width: 100%;
  height: 832px;
  overflow: hidden;
  background-image: url(./public/image-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
