.image-1-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2048px;
  height: 1362px;
  object-fit: cover;
}
.macbook-air-4-child,
.macbook-air-4-inner,
.macbook-air-4-item {
  position: absolute;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset, 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px);
}
.macbook-air-4-child {
  top: -41px;
  left: 265px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-400);
  width: 1027px;
  height: 906px;
}
.macbook-air-4-inner,
.macbook-air-4-item {
  top: 0;
  left: 0;
  background-color: var(--color-darkgreen);
  width: 265px;
  height: 832px;
}
.macbook-air-4-inner {
  top: 397px;
  left: 36px;
  border-radius: var(--br-176xl);
  background-color: var(--color-gray-500);
  width: 194px;
  height: 72px;
  cursor: pointer;
}
.khch-hng4 {
  position: absolute;
  top: 421px;
  left: 98px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.macbook-air-4-child1 {
  position: absolute;
  top: 507px;
  left: 36px;
  border-radius: var(--br-176xl);
  background-color: var(--color-gray-500);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset, 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px);
  width: 194px;
  height: 72px;
  cursor: pointer;
}
.house-coffe4 {
  position: absolute;
  top: 133px;
  left: 76px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.macbook-air-4-child2 {
  position: absolute;
  top: 183px;
  left: 36px;
  border-radius: var(--br-176xl);
  background-color: var(--color-gray-500);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset, 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px);
  width: 194px;
  height: 72px;
  cursor: pointer;
}
.trang-ch4 {
  position: absolute;
  top: 207px;
  left: 101px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.macbook-air-4-child3,
.macbook-air-4-child4 {
  position: absolute;
  border-radius: var(--br-176xl);
  background-color: var(--color-gray-500);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset, 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px);
  width: 194px;
  height: 72px;
}
.macbook-air-4-child3 {
  top: 728px;
  left: 36px;
  cursor: pointer;
}
.macbook-air-4-child4 {
  top: 706px;
  left: 19px;
  display: none;
}
.ng-xut4 {
  position: absolute;
  top: 754px;
  left: 106px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.macbook-air-4-child5 {
  position: absolute;
  top: 290px;
  left: 36px;
  border-radius: var(--br-176xl);
  background-color: var(--color-lime);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset, 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px);
  width: 194px;
  height: 72px;
}
.lch-s4 {
  position: absolute;
  top: 314px;
  left: 113px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.n-1-icon4 {
  position: absolute;
  top: 25px;
  left: 82px;
  border-radius: var(--br-330xl);
  width: 101px;
  height: 101px;
  object-fit: cover;
}
.cskh4 {
  position: absolute;
  top: 531px;
  left: 120px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.home-icon4,
.online-support-icon4 {
  position: absolute;
  top: 518px;
  left: 58px;
  width: 41px;
  height: 50px;
  object-fit: cover;
}
.home-icon4 {
  top: 197px;
  left: 53px;
  width: 45px;
  height: 45px;
}
.logout-icon4,
.order-history-icon4,
.user-account-icon4 {
  position: absolute;
  top: 302px;
  left: 55px;
  width: 49px;
  height: 49px;
  object-fit: cover;
}
.logout-icon4,
.user-account-icon4 {
  top: 412px;
  left: 53px;
  width: 39px;
  height: 41px;
}
.logout-icon4 {
  top: 747px;
  left: 61px;
  width: 37px;
  height: 37px;
}
.macbook-air-4-child6 {
  position: absolute;
  top: 114px;
  left: 299px;
  border-radius: var(--br-13xl);
  width: 954px;
  height: 694px;
}
.i31,
.i32,
.i33,
.i34 {
  position: absolute;
  top: 406px;
  left: 1005px;
}
.i32,
.i33,
.i34 {
  top: 450px;
}
.i33,
.i34 {
  top: 493px;
}
.i34 {
  top: 536px;
}
.i35,
.i36,
.i37,
.i38,
.i39 {
  position: absolute;
  top: 579px;
  left: 1020px;
}
.i36,
.i37,
.i38,
.i39 {
  top: 622px;
}
.i37,
.i38,
.i39 {
  top: 665px;
  left: 1009px;
}
.i38,
.i39 {
  top: 708px;
  left: 1020px;
}
.i39 {
  top: 744px;
}
.bo-trm1,
.h12-135,
.i40 {
  position: absolute;
  top: 0;
  left: 56px;
}
.h12-135,
.i40 {
  left: 247px;
}
.i40 {
  left: 460px;
}
.group-child11,
.group-child16 {
  position: absolute;
  top: 35.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gray-600);
  box-sizing: border-box;
  width: 919px;
  height: 1px;
}
.group-child16 {
  top: 81.5px;
}
.tin-t1 {
  position: absolute;
  top: 0;
  left: 0;
}
.h34-125,
.i45,
.tin-t-group {
  position: absolute;
  top: 0;
  left: 191px;
}
.i45,
.tin-t-group {
  left: 404px;
}
.tin-t-group {
  top: 43px;
  left: 56px;
  width: 431px;
  height: 29px;
}
.anh-qun-group,
.sn-tng-group {
  position: absolute;
  top: 43px;
  left: 0;
  width: 918px;
  height: 82px;
}
.anh-qun-group {
  height: 125px;
}
.hin-h-group,
.nh-v-group,
.thy-tin-group,
.trng-ngha-group {
  position: absolute;
  top: 43px;
  left: 0;
  width: 918px;
  height: 168px;
}
.hin-h-group,
.nh-v-group,
.thy-tin-group {
  height: 211px;
}
.hin-h-group,
.thy-tin-group {
  top: 258px;
  height: 36px;
}
.thy-tin-group {
  top: 294px;
}
.bo-trm-group,
.linh-chi-group,
.nht-h-group {
  position: absolute;
  top: 418px;
  left: 16px;
  width: 918px;
  height: 330px;
}
.linh-chi-group,
.nht-h-group {
  top: 374px;
  height: 36px;
}
.linh-chi-group {
  top: 43px;
  left: 0;
}
.l-quyn-group,
.nguyn-khnh-group,
.nh-gi-child8 {
  position: absolute;
  top: 287px;
  left: 16px;
  width: 918px;
  height: 79px;
}
.l-quyn-group,
.nh-gi-child8 {
  top: 243px;
  height: 36px;
}
.nh-gi-child8 {
  top: 0;
  left: 0;
  border-radius: var(--br-176xl);
  background-color: var(--color-gray-500);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset, 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px);
  width: 946px;
  height: 51.86px;
}
input {
  padding-left: 30px;
  text-decoration: none;
  font-size: medium;
}

.search-icon1 {
  position: absolute;
  top: 7.26px;
  left: 894px;
  width: 44px;
  height: 45.34px;
  object-fit: cover;
}
.khuyn-mi,
.s-im1,
.thi-gian,
.tn-khch-hng1 {
  position: absolute;
  top: 105px;
  left: 30px;
  font-weight: 800;
}
.khuyn-mi,
.s-im1,
.thi-gian {
  left: 256px;
}
.khuyn-mi,
.s-im1 {
  left: 449px;
}
.khuyn-mi {
  left: 659px;
}
.i53,
.v-trn-group {
  position: absolute;
  top: 0;
  left: 701px;
}
.v-trn-group {
  top: 155px;
  left: 16px;
  width: 918px;
  height: 36px;
}
.i55,
.i56,
.i57,
.i58 {
  position: absolute;
  top: 0;
  left: 690px;
}
.i56,
.i57,
.i58 {
  top: 44px;
}
.i57,
.i58 {
  top: 88px;
  left: 701px;
}
.i58 {
  top: 131px;
  left: 686px;
}
.l-hi-group,
.nh-gi-child9 {
  position: absolute;
  top: 199px;
  left: 16px;
  width: 918px;
  height: 160px;
}
.nh-gi-child9 {
  top: 146.5px;
  left: 15.5px;
  border-top: 1px solid var(--color-gray-600);
  box-sizing: border-box;
  width: 919px;
  height: 1px;
}
.nh-gi5 {
  position: absolute;
  top: 32px;
  left: 303px;
  width: 946px;
  height: 748px;
}
.macbook-air-4 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 832px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
